/*login.html start*/
.background-img {
  position: absolute;
  z-index: 0;
  width: 1920px;
  height: 960px;
  left: 50%;
  margin-left: -960px; 
}
.managerlogin-wrap {
  z-index: 1;
  padding-top: 1px;
  width: 100%;
  min-height: 960px; }

.loginbox {
  position: relative;
  margin: 225px auto 0;
  width: 786px;
  height: 336px;
  font-size: 0;
  border-radius: 5px;
  background-color: #f6f8fa; }

.shadow-img {
  margin-top: 50px;
  vertical-align: middle; }

.login-cover-wrap {
  position: relative;
  display: inline-block;
  margin-top: 48px;
  margin-left: 30px;
  width: 300px;
  height: 200px;
  font-size: 0;
  text-align: center;
  border-right: 1px solid #fff;
  vertical-align: top; }
  .login-cover-wrap span {
    display: inline-block;
    width: 1px;
    height: 100%;
    vertical-align: middle; }
  .login-cover-wrap img {
    max-width: 298px;
    max-height: 200px;
    vertical-align: middle; }

.login-input-wrap {
  position: relative;
  display: inline-block;
  margin-top: 48px;
  margin-left: 40px;
  height: 200px;
  vertical-align: top; }
.login-input-wrap .error-tip {
  height: 14px;
  font-size: 14px;
  color: #f71031;
  text-align: center; }
.login-input-wrap > p {
  margin-bottom: 16px; }
.login-input-wrap > p > label {
  font-size: 14px;
  color: #34495e;
  vertical-align: middle; }
.login-input-wrap > p > span {
  display: inline-block;
  width: 70px;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  color: #34495e;
  vertical-align: middle; }
.login-input-wrap > p > input {
  padding: 0 10px;
  width: 300px;
  height: 42px;
  line-height: 42px;
  font-size: 15px;
  color: #34495e;
  border: 1px solid #eff1f2;
  vertical-align: middle; }
.login-input-wrap > p > input.short {
  width: 125px; }
.login-input-wrap > p > input:focus {
  border: 1px solid #61abfb; }
.login-input-wrap > p > img {
  margin-left: 22px;
  width: 88px;
  height: 35px;
  cursor: pointer;
  vertical-align: middle; }
.login-input-wrap > p > img:hover {
  border: 1px solid #61abfb; }
.login-input-wrap > p [type="checkbox"] {
  margin-left: 60px;
  width: 14px;
  height: 14px;
  vertical-align: middle; }
.login-input-wrap .login-btn {
  display: inline-block;
  width: 376px;
  height: 36px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-left: -8px;
  cursor: pointer;
  background-color: #62a3ec; }
.login-input-wrap .login-btn:hover {
  background-color: #6bacf4; }
.login-input-wrap .clearfix > span {
  margin-right: 8px;
  line-height: 42px;
  text-align: right; }
.login-input-wrap > p.captcha > input{
  width: 190px;
}
.clearfix:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
  clear: both; }


  /*login.html end*/